@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* FONTS */
@font-face {
  font-family: 'Raleway';
  src: url('/static/raleway/Raleway-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('raleway/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('raleway/Raleway-SemiBold.ttf') format('truetype');
}
body, html{
  margin: 0;
}
